body {
    font-family: Arial;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    margin: 0;
}

/* Navbar */
nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: yellow;
}

/* Container */
.container {
    text-align: center;
    margin-top: 50px;
}

/* Button animation */
.btn {
    padding: 10px 20px;
    border: none;
    background: blue;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: red;
    transform: scale(1.1);
}

/* Table */
table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background: gray;
    color: white;
}